/* PC */
@media (min-width: 64em){

}

/* Tablet & Mobile */
@media (max-width: 63.9375em){
    .place-buy-btn{
        padding: 15px 16px;
    }

    #nav .subnav a{
        padding: 5px 12px;
    }

    .contact-info{
        line-height: 2;
    }

    .contact-form .form-control{
        padding: 15px;
        font-size: 16px;
    }

    .form-submit-btn{
        font-size: 16px;
    }

    #footer .social-list{
        font-size: 35px;
    }

    #footer .social-list a{
        margin: 0 8px;
    }

    #footer .copyright a{
        padding: 12px 0;
        display: inline-block;
    }

}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){

}

/* Mobile */
@media (max-width: 46.1875em){
    #nav{
        display: block;
    }

    #nav li{
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }  

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
    }
     
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    #header{
        overflow: hidden;
    }

    #header .search-button{
        display: none;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #content .members-list{
        width: 100%;
        height: 700px;
    }

    #content .member-item{
        width: 350px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        margin-bottom: 110px;
    }

    #content .member-img{
        width: 55%;
        text-align: center;
    }

    .contact-form{
        margin-top: 32px;
    }

    .s-mt-8{
        margin-top: 8px !important;
    }

    .s-col-full, .s-full-width{
        width: 100% !important;
    }

    .s-full-modal{
        margin: 0 10px;
        align-items: center;
        justify-content: center;
    }
    
}